# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore asm generate file
*.sym

# Xmake cache
.xmake/

# vscode and build cache
.VSCodeCounter/
.vscode/
build/
build_cmake/

# MacOS Cache
.DS_Store

# Ignore 3rdParty build
# External/
# Target/
# ThirdParty/build/
# Data/

# Ignore Large Asset File
*.txt
*.wav
*.ogg
*.aiff
*.aif
Asset.zip
Asset/Music.zip
Asset/MusicOther.zip

# Ignore LaTeX outputs
Document/LaTeX/*.toc
Document/LaTeX/*.aux
Document/LaTeX/*.xwm
Document/LaTeX/*.log
Document/LaTeX/*.out
Document/LaTeX/*.gz
